<html>
  <head>
    <link rel="stylesheet" href="css/toolkit.css"/>
    <link rel="stylesheet" href="css/skycons.min.css"/>
    <script type=text/javascript src=/socket.io/socket.io.js></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <title>BlueBox</title>
    <style>
      html, head, body { padding: 0; margin: 0; }
      h1 { font-size: 68px !important; padding: 5% 0px; color: #fff; background-color: #0076be; }
      ul {
        width: 80%;
        margin: 0 auto;
      }
      ul li {
        list-style-type: circle;
      }
      div#presentation div {
        display: none;
        width: 80%;
        height: 100%;
        margin: 0 auto;
      }
    </style>
  </head>

  <body class=grid-1140>
    <script type="text/javascript" src="/js/index.js"></script>

    <div id=presentation>

      <div class=grid12>
          <h1 class=page-title>&nbsp;&nbsp;BlueBox</h1>
          <br />
          <br />
          <br />
          <p class=section-title style="width: 80%; margin: 0 auto;">
          {<br/>
            &nbsp;&nbsp;name: "Antonio Nalesso",</br>
            &nbsp;&nbsp;github: "@acnalesso",</br>
            &nbsp;&nbsp;team: "Product Transactions"</br>
          }
          </p>
      </div>

      <div class=grid12>
        <h1 class=page-title>&nbsp;&nbsp;What can it do for you?</h1>
        <ul>
          <li class="section-title smaller">
            Save a lot of dev time
            <ul>
              <li class='section-title smaller'>Your app does not need to handle Authentication</li>
              <li class='section-title smaller'>You do not have map json from service calls</li>
            </ul>
          </li>

          <li class="section-title smaller">
            Data customisation
            <ul>
              <li class='section-title smaller'>Allowed keys/values</li>
              <li class='section-title smaller'>Rename and insertions</li>
            </ul>
          </li>
          <li class="section-title smaller">Backend agnostic - Think of the business</li>
          <li class="section-title smaller">Reusability - do not repeat yourself</li>
        </ul>
      </div>

      <div class=grid12>
        <h1 class=section-title>Awesome Sky Website</h1>
        <h3 class=page-title>&nbsp;&nbsp;Demo</h3>
        <ul>
          <li class="section-title smaller">
            How to integrate your app with BlueBox
            <ul>
              <li class="section-title smaller">Sky Team Token?</li>
              <li class="section-title smaller">SkySSO</li>
            </ul>
          </li>

          <li class="section-title smaller">
            Environments
            <ul>
              <li class="section-title smaller">PRODUCTION</li>
              <li class="section-title smaller">E05</li>
            </ul>
          </li>

          <li class="section-title smaller">GET - Customer Overview</li>
          <li class="section-title smaller">GET - Customer details</li>
          <li class="section-title smaller">GET | PUT - Parental Controls Settings</li>
          <li class="section-title smaller">GET - Custom service - ordertracking.sky.com</li>
        </ul>
      </div>

      <div class=grid12>
        <h1 class=page-title>&nbsp;&nbsp;What is missing?</h1>
        <ul>
          <li class="section-title smaller">JSON Lint</li>
          <li class="section-title smaller">Open Authentication (OAuth)</li>
          <li class="section-title smaller">Precise Metrics?</li>
          <li class="section-title smaller">Customisation</li>
            <ul>
              <li class="section-title smaller">Allow devs to change http headers such as Cache-Control</li>
            </ul>
          <li class="section-title smaller">More Convention Over Configuration</li>
          <li class="section-title smaller">---> Your Contribution <---</li>
        </ul>
      </div>

      <div class=grid12>
        <h1 class=page-title>---> ABC <---</h1>
        <h3 class=page-title>A lways<br /> B e<br /> C oding</h3>
      </div>

      <div class=grid12>
        <h1 class=page-title>I want to scroll UP and DOWN</h1>
        <img src="http://i1.ytimg.com/vi/Dgosi8Mp41Q/hqdefault.jpg" width=400 height=500 /><br />
        <img src="http://static.squarespace.com/static/509fe56de4b046b42951dc40/t/5119792de4b0033a72ad27bb/1360623918090/BlueBox1.jpg" width=400 height=500 /><br />
        <img src="http://www.clker.com/cliparts/k/1/H/C/r/G/blue-box-hi.png" width=400 height=500 /><br />
        <img src="http://upload.wikimedia.org/wikipedia/commons/5/5f/Blue_Box_in_museum.jpg" width=400 height=500 /><br />
        <img src="http://myoldmac.net/FAQ/picts/Wozniaks_blue_box.102627263.lg.jpg" width=400 height=500 /><br />
        <img src="http://cache0.bigcartel.com/product_images/44538071/TheBlueBox_-_2.jpg" width=400 height=500 /><br />
      </div>

    </div>
  </body>
</html>
